.call-to-action{
  .action-image{
    background-image: url("images/call-us-girl.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .h3{
    font-size: 2rem;
  }
  .h2{
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  p{
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-top: 1.8rem;
  }

  @media (max-width:375px) {
    .h2{
      font-size: 2.2rem;
    }

  }
}