.footer{
  color: $footer-color;
  background-color: $footer-bg;
  font-size: 1.1rem;

  &-widget{
    &-title{
      text-transform: uppercase;
      font-size: 1.4rem;
      font-weight: $footer-title-font-weight;
      margin-bottom: 25px;
    }
  }
}
.copyright{
  background-color: $copyright-bg;
  color: $copyright-color;

  a{
    color:$white;
    text-decoration: underline;

    &:hover,&:focus{
      color:$white;
      text-decoration: none;
    }
  }
}