*, *:focus{
  outline: 0px !important;
}

.form-control, input, label,textarea, select, buttons{
  box-shadow: none !important;
  font-family: $font-family-base !important;
}
input[type="submit"]{
  cursor: pointer;
}
ul, ol{
  padding-left: 0rem;
  list-style: none;
}
h1,h2{
  color:$black;
}
