.form-control{
  font-family: $font-family-base;
  border: none;
  border-bottom: 1px solid #dedede;
  padding: .4rem 0rem ;
}

.input-group{

  .btn{
    background-color: transparent;
    border-bottom: 1px solid #dedede;
    padding-top: .4rem;
    padding-bottom: .4rem;
    cursor: pointer;
    border-radius: 0px;
  }

  .form-control:focus + &-btn > .btn{
    border-bottom: 1px solid $brand-primary;
  }

}